body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #333;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px; 
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

.nav-links a:hover {
    border-bottom: 2px solid #fff;
}